@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: gray;
    height: 77px;
}
.Navbar{
    background-color: gray;
    width: 100%;
}

.NavbarColumna1{
    width: 60%;
    vertical-align: bottom;
}

.Column{
    width:10%;
    padding: 2%;
    vertical-align: bottom;
}

img{
    max-width: 400%;
    height: 578px;

}

.contenedor{
    position: relative;
    width: 100%;
    height: 600px;
}

.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all 3s ease;
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.atras{
    left: 2%;
    top: calc(50% - 70px);
}

.adelante{
    right: 2%;
    top: calc(50% - 70px);
}

.Projects{
    position: absolute;
    width: 378px;
    height: 449px;
    top: 750px;
    background: #0575dd;
    border-radius: 20px;
}

#P1{
    left: 47px;
}
#Google{
    width:50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 165px;
}
#InfoGoogle{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#GoogleDrive{
    margin-top: 80px;
    margin-right: 30px;
    width: 300px;
    height: 100px;
}

#P2{
    left: 493.5px;
}

#Youtube{
    width:50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 165px;
}

#PInicio{
    width: 200px;
    height: 100px;
    margin-top: 80px;
    margin-right: 30px;
}


#P3{
    left: 937px;
}

#Twitch{
    width: 50px;
    height: 50px;
    margin-left: 170px;
    margin-top: 10px;
}

#Interfaz{
    width: 150px;
    height: 100px;
    margin-top: 80px;
    margin-right: 30px;
}
#About_me{
    margin-top: 500px;
}

#Me{
    position: absolute;
    width: 1095px;
    height: 357px;
    left: 90px;
    top: 1280px;
    background: #0575dd;
    border-radius: 20px;
}

#Yo{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    border-radius: 20px;
    margin-bottom: 300px;
    margin-top: -190px;
}

#SobreMi{
    align-items: center;
    margin-left: 350px;
    margin-top: 100px;
    margin-right: 20px;
}

#Skills{
    margin-top: 400px; 
} 
 
table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    font-size: 20px;
    background: #fff;
  }
  table th, 
  table tr:nth-child(2n+2) {
    background: #e7e7e7;
  }
   
  table th, 
  table td {
    padding: 20px 50px;
  }
   
  table th {
    border-bottom: 1px solid #d4d4d4;
  }     
  .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width:0;
   }
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }
  .attribution {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: -1;
  }
  .attribution:hover {
    color: #1fa67a;
  }

#Contacto{
    position: absolute;
    width: 530px;
    height: 252px;
    left: 135px;
    top: 2180px;
    background: #D9D9D9;
    border-radius: 20px;
}
.Mensaje{
    margin-top: 10px;
    margin-left: 20px;
}

.Input{
    margin-top:30px;
    margin-left: 10px;
}

.InputMensaje{
    margin: 30px ;
    margin-left:0;
    margin-bottom: 0;
}

.SendButton{
    width: 100px;
    margin-top: 5px;
    margin-left:55px
}

#RedesSociales{
    position: absolute;
    width: 530px;
    height: 252px;
    left: 700px;
    top: 2180px;
    background: #D9D9D9;
    border-radius: 20px;
}

#RS{
    margin-top: 50px;
    margin-left: 220px;
}

.RedSocial{
    margin-top: 30px;
}

@media (min-width:768px) {
    .SearchBox{
        height: 48px;
        width: 440px;
    }
}